//bg colors
$bg1: #f8f8f8;
$bg2: #ffffff;
$bg3: #FF4500;
$bg4: #1D1C1C;
$bg5: #FFA500;

//text colors
$clr1: #211F2E;
$clr2: #FFFFFF;
$clr3: #FF4500;
$clr4: #8C8C8C;
$clr5: #232433;
$clr6: #2D2D2D;
$clr7: #8D8D8D;

//font families
$font1: "Roboto Regular", sans-serif;
$font2: "Roboto Light", sans-serif;
$font3: "Roboto Medium", sans-serif;